body { background-color:white ;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:black;
}

a{color:black;
font-size:14px;}
a:hover { font-family:Verdana, Arial, Helvetica, sans-serif;
color:black;
font-size:20px;
text-decoration: none;
background-color: white}

h1 { font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:36px}

h2 { font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:30px}

h3 { font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:24px}


#centercontent { top:77px;
background:white;
margin-left:199px;
margin-right:199px;
margin-top:50px;
height:600px;
border:0px solid black;
voice-family: "
\"
}

\"
"
;
voice-family: inherit;
margin-left:201px;
margin-right:201px;
}

#topcontent {
  background:white;
  border:0px solid black;
}
#bottomcontent {
  background:white;
}


html>
body #centercontent { margin-left:201px;
margin-right:201px;
}



#banner { background:white;
height:90px;
border-top:0 solid black;
border-right:0 solid black;
border-left:0 solid black;
voice-family: "
\"
}

\"
"
;
voice-family: inherit;
height:49px;
}

html>
body #banner { height:49px;
}

p,h1,h2,h3 { margin:0px 10px 10px 10px;
}

hr {
  border:0;
  border-top: 1px solid black;
  height: 0;
  background: black;
  border-width: 10px;
}
